
.container-full-width{
    max-width: 100% !important;
}
.container-full-screen{
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
.table-full-width{
    width: 100% !important;
}
.footer-bg-color{
    background-color: white !important;
}


.toolbar-main-title-color, .toolbar-second-title-color{
    color: white !important;
}

.toolbar-home-title-color{
    color: #A1A5B7 !important;
}


.aside .aside-menu{
    margin: -17px 0;
}

.hover-scroll-overlay-y{
    height: 100%;
    padding: 25px 0px;
}
.action-buttons{
    text-align: right !important;
    padding-right: 5px !important;
}

/* Loader */
.lds-ring {
    display: inline-block;
    position: fixed;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    z-index: 9999;
    visibility: hidden;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* export buttons */
.dt-export-btn:hover{
    transition: color 0.2s ease, background-color 0.2s ease;
    background-color: #F5F8FA !important;
    color: #009EF7;
}

/* ajax modal */
.ajax-modal-body{
    height: 75vh !important;
}

.ajax-modal-scroll{
    max-height: 70vh !important;
}

.data-table-search{
    padding: 0.4rem 1rem 0.4rem 3.5rem !important;
}

.toggle-col-menu-item{
    border-radius: 0!important;
}

.toggle-col-menu-item:hover{
    transition: color 0.2s ease, background-color 0.2s ease;
    background-color: #F5F8FA !important;
    color: #009EF7;
}



.toggle-col-item-inactive{
    background-color: rgb(226, 50, 50);
}


/* active row */
.dt-active-row{
    background-color: rgba(245, 248, 250, 0.75);
}

.group-actn-menu-btn:hover{
    transition: color 0.2s ease, background-color 0.2s ease;
    background-color: #F5F8FA !important;
    color: #009EF7;
}

/* modal */
.custom-modal-header{
    padding-top: 1.25rem !important;
    padding-bottom: 0.25rem !important;
}

/* forms */
.custom-form-control{
    border: 1px solid #c2cad8;
    padding: 6px 12px;
}

.custom-form-control:focus{
    border-color: #93a1bb;
}

.form-section-title {
    padding-bottom: 5px !important;
    border-bottom: 1px solid #e7ecf1 !important;
    margin-bottom: 1.25rem;
}

.fv-label-valid{
    color: #27a4b0;
}
.fv-label-invalid{
    color: #F1416C;
}

.custom-tagify-group-tag{
    background: none !important;
}

/* datatable pagination*/
.paginate_input{
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 0.475rem;
    width: 40px;
    text-align: center;
}
.paginate_input:focus{
    border: 1px solid rgba(0, 0, 0, 1);
}
.paginate_input:focus-visible{
    outline: 0 !important;
}

.page-item{
    margin-right: auto !important;
}

.info-box{
    background: #1e1e2d;
    border-radius: 4px;
    display: flex;
    padding: 10px 15px;

}

.info-box-content{
margin:0 10px;
}
.info-box-icon{
    border-radius: 3px;
    padding: 17px 22px;

}
.info-box-number{   
 margin-top: 15px;
font-weight: 600;
}

.icon-box{
    font-size: 30px;
    color: white;
}

.bg-info {
    background: #3498db!important;
}



.box-chart{
    background: #1e1e2d;
    border-radius: 4px;
    padding: 10px 0px;

}
.custom-control{position:relative;display:block;min-height:1.5rem;padding-left:1.5rem}.custom-control-inline{display:-ms-inline-flexbox;display:inline-flex;margin-right:1rem}.custom-control-input{position:absolute;z-index:-1;opacity:0}
.custom-control-input:checked~.custom-control-label::before{color:#fff;border-color:#007bff;background-color:#007bff}.custom-control-input:focus~.custom-control-label::before{box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}.custom-control-input:focus:not(:checked)~.custom-control-label::before{border-color:#80bdff}.custom-control-input:not(:disabled):active~.custom-control-label::before{color:#fff;background-color:#b3d7ff;border-color:#b3d7ff}.custom-control-input:disabled~.custom-control-label{color:#6c757d}.custom-control-input:disabled~.custom-control-label::before{background-color:#e9ecef}.custom-control-label{position:relative;margin-bottom:0;vertical-align:top}.custom-control-label::before{position:absolute;top:.25rem;left:-1.5rem;display:block;width:1rem;height:1rem;pointer-events:none;content:"";background-color:#fff;border:#adb5bd solid 1px}
.custom-control-label::after{position:absolute;top:.25rem;left:-1.5rem;display:block;width:1rem;height:1rem;content:"";background-repeat:no-repeat;background-position:center center;background-size:50% 50%}.custom-checkbox .custom-control-label::before{border-radius:.25rem}.custom-checkbox .custom-control-input:checked~.custom-control-label::after{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")}.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before{border-color:#007bff;background-color:#007bff}.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::after{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e")}.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before{background-color:rgba(0,123,255,.5)}.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label::before{background-color:rgba(0,123,255,.5)}.custom-radio .custom-control-label::before{border-radius:50%}.custom-radio .custom-control-input:checked~.custom-control-label::after{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")}.custom-radio .custom-control-input:disabled:checked~.custom-control-label::before{background-color:rgba(0,123,255,.5)}.custom-switch{padding-left:2.25rem}.custom-switch .custom-control-label::before{left:-2.25rem;width:1.75rem;pointer-events:all;border-radius:.5rem}
.custom-switch{padding-left:2.25rem}.custom-switch .custom-control-label::before{left:-2.25rem;width:1.75rem;pointer-events:all;border-radius:.5rem}.custom-switch .custom-control-label::after{top:calc(.25rem + 2px);left:calc(-2.25rem + 2px);width:calc(1rem - 4px);height:calc(1rem - 4px);background-color:#adb5bd;border-radius:.5rem;transition:background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;transition:transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out}@media screen and (prefers-reduced-motion:reduce){.custom-switch .custom-control-label::after{transition:none}}.custom-switch .custom-control-input:checked~.custom-control-label::after{background-color:#fff;-webkit-transform:translateX(.75rem);transform:translateX(.75rem)}.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before{background-color:rgba(0,123,255,.5)}